<h1 class="heading col-xs-10  col-xs-offset-1">What is your favorite warbird?</h1>


<div id="clouds">

	<div class="cloud x1"></div>
	<%=image_tag("/assets/snoopy.jpg", alt: "snoopy", :class => "img-responsive img-center snoopy") %>
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	
</div>



	

	<br />
	<div class="form-font col-xs-12">
	<%= link_to 'Choose your favorite!', new_plane_path(@planes)%>
	</div>
	<div class="clear">
		<br />
	
		<div class="booyah-box">
			<%= @planes.inspect %>
			
		
	</div>
<br />


	
<div class="clear">
	
<div class="warbirds">
	<div class="aces">
		
		<%=image_tag("/assets/rsz_109.jpg", alt: "ME109", :class => "corners") %>
		
		<%=image_tag("/assets/rsz_f4u.jpg", alt: "Corsair", :class => "corners center") %>

		<%=image_tag("/assets/rsz_fw190.jpg", alt: "Focke Wolfe", :class => "corners") %>
		</div>
</div>

<div class="clear"></div>

	<div class="warbirds">
		<div class="aces">
		<%=image_tag("/assets/rsz_p38.jpg", alt: "lightning", :class => "corners") %>
		<%=image_tag("/assets/rsz_p40.jpg", alt: "Warhawk", :class => "corners") %>
		<%=image_tag("/assets/rsz_p47.jpg", alt: "Thunderbolt", :class => "corners") %>
		</div>
	</div>

	<div class="clear"></div>

<div class="warbirds">
	<div class="aces">
		<%=image_tag("/assets/rsz_spitfire.jpg", alt: "Spitfire", :class => "corners") %>
		<%=image_tag("/assets/rsz_yak9.jpg", alt: "Yak 9", :class => "corners") %>
		<%=image_tag("/assets/rsz_zero.jpg", alt: "Zero", :class => "corners") %>
		</div>
</div>
<div class="warbirds">
	<div class="aces">
		<%=image_tag("/assets/rsz_hellcat.jpg", alt: "Hellcat", :class => "corners") %>
		<%=image_tag("/assets/rsz_p51d.jpg", alt: "Mustang", :class => "corners") %>
	</div>
</div>


