
<h1 class="form-font col-xs-12">Click on your favorite Warbird!</h1>



<div class="warbirds">
	<div class="aces">

<%= simple_form_for @plane do |f| %>
<input name="name" value="BF 109" type="hidden">
<%= image_submit_tag("/assets/rsz_109.jpg", title: "BF 109", :class => "corners") %>
<% end %>
<%= simple_form_for @plane do |f| %>
<input name="name" value="F-4U Corsair" type="hidden">
<%= image_submit_tag("/assets/rsz_f4u.jpg", title: "F-4U Corsair", :class => "corners") %>
<% end %>
<%= simple_form_for @plane do |f| %>
<input name="name" value="Focke-Wulf FW 190" type="hidden">
<%= image_submit_tag("/assets/rsz_fw190.jpg", title: "Focke-Wulf FW 190", :class => "corners") %>
<% end %>
	</div>

</div>

<div class="clear"></div>

	<div class="warbirds">
		<div class="aces">

<%= simple_form_for @plane do |f| %>
<input name="name" value="P-38 Lightning" type="hidden">
<%= image_submit_tag("/assets/rsz_p38.jpg", title: "P-38 lightning", :class => "corners") %>
<% end %>

<%= simple_form_for @plane do |f| %>
<input name="name" value="P-40 Warhawk" type="hidden">
<%= image_submit_tag("/assets/rsz_p40.jpg", title: "P-40 Warhawk", :class => "corners") %>
<% end %>

<%= simple_form_for @plane do |f| %>
<input name="name" value="P-47 Thunderbolt" type="hidden">
<%= image_submit_tag("/assets/rsz_p47.jpg", title: "P-47 Thunderbolt", :class => "corners") %>
<% end %>







		
		</div>
	</div>

	<div class="clear"></div>

<div class="warbirds">
	<div class="aces">

<%= simple_form_for @plane do |f| %>
<input name="name" value="Supermarine Spitfire" type="hidden">
<%= image_submit_tag("/assets/rsz_spitfire.jpg", title: "Supermarine Spitfire", :class => "corners") %>
<% end %>
<%= simple_form_for @plane do |f| %>
<input name="name" value="Yak 9" type="hidden">
<%= image_submit_tag("/assets/rsz_yak9.jpg", title: "Yak 9", :class => "corners") %>
<% end %>
<%= simple_form_for @plane do |f| %>
<input name="name" value="A6M Zero" type="hidden">
<%= image_submit_tag("/assets/rsz_zero.jpg", title: "A6M Zero", :class => "corners") %>
<% end %>
		</div>
</div>
<div class="warbirds">
	<div class="aces">
	<%= simple_form_for @plane do |f| %>
	<input name="name" value="F6F Hellcat" type="hidden">
<%= image_submit_tag("/assets/rsz_hellcat.jpg", title: "F6F Hellcat", :class => "corners") %>
<% end %>
<%= simple_form_for @plane do |f| %>
<input name="name" value="P-51D Mustang" type="hidden">
<%= image_submit_tag("/assets/rsz_p51d.jpg", title: "P-51D Mustang", :class => "corners") %>
<% end %>
	</div>
</div>



